.container {
  color: white;
}

.intro-section {
  color: white;
  padding: 20px;
  text-align: center;
}

.product-header {
  color: black; /* $shopapp-tint-color */
}

.form-control {
  background-color: silver; /* $shopapp-background-color */
  border: 1px solid rgb(29, 33, 54);
  color: white;
}

.form-control:focus {
  border-color: white;
  background-color: #0F3746; /* $shopapp-background-color */
}

.form-label {
  color: white;
}

.product-order {
  color: black; /* $shopapp-title-color */
}

table {
  width: 100%;
  border-radius: 10px;
  border: none;
  border-collapse: separate;
  border: 1px solid white;
  border-spacing: 0;
  background-color: #F4F2EC; /* $shopapp-background-color */    
}

th,
td {
  padding: 10px;
  text-align: center;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-image {
  width: 50px; /* Thay đổi kích thước theo nhu cầu của bạn */
  height: 50px; /* Thay đổi kích thước theo nhu cầu của bạn */
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.product-name {
  color: black;
  margin-right: 10px;    
  text-align: left;
}

.btn-gradient {
  background: black; /* $shopapp-tint-color, $shopapp-color */
  color: white;
  border-radius: 30px;
  width: 200px;
}

.border-wrapper {
  border: 1px solid black;
}

.product-quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.product-quantity button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.product-quantity input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 40px;
  margin: 0 10px;
}

.product-quantity input:focus {
  outline: none;
}

    
  .main {
    position: relative;
    width: 1728px;
    height: 953px;
  }
  .hoadon-main{
        position: relative;
        width: 1728px;
        height: 1321px;
        background: #ffffff;
        overflow: hidden;
        position: relative;
  }

  