
    <div class="main-container">
      <button class="component" (click)="closeAll()"></button>
      <div class="flex-row">
        <div class="rectangle"></div>
      </div>
      <div class="flex-row-ddd">
        <div class="ellipse"></div>
        <div class="ellipse-1"></div>
      </div>
      <div class="rectangle-2">
        <span class="create-playlist"
          >Muốn tự tạo playlist riêng<br />Đã có playlist trên Spotify, Apple
          Music, Youtube<br />Muốn tự tải file Ghi âm trong điện thoại<br />Muốn
          tặng quà</span
        ><span class="usage">Dùng khi bạn:</span
        ><span class="send-playlist"
          >Gửi ink playlist 2 mặt băng (Mỗi mặt tối đa 30 phút - nhiều hơn sẽ bị
          mất)<br />Nếu có file riêng, gửi link từng file kèm số thứ tự muốn ghi
          trên băng<br />Chọn màu băng, điền thông tin<br />Xong!</span
        ><span class="how-to-use">Cách dùng:</span>
      </div>
    </div>

