.page-number {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 0 2px;
    border-radius: 3px;
}

.page-number.active {
    background-color: #007bff !important; /* Thay thế bằng màu thực tế */
    color: #fff;
    border-color: #007bff !important; /* Thay thế bằng màu thực tế */
}

.btn.btn-primary {
    margin-left: 10px;
}

.container-fluid {
    background-color: white;
    padding-left: 0 !important; /* Loại bỏ padding bên trái */
    padding-right: 0 !important; /* Loại bỏ padding bên phải */
    height: 100vh;
}

.button-primary {
    white-space: nowrap;
}