:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1728px;
    height: 855px;
    margin: 0 auto;
    background: #f4f2ec;
  }
  .mixtape-button {
    position: relative;
    width: 399px;
    height: 36px;
    margin: 20px 0 0 664px;
    cursor: pointer;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    white-space: nowrap;
    background: transparent;
    border: none;
    z-index: 2;
  }
  .rectangle {
    position: relative;
    width: 962px;
    height: 393px;
    margin: 6px 0 0 379px;
    background: #0f1629;
    z-index: 1;
  }
  .selected-music {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 490px;
    height: 22px;
    margin: 29px 0 0 619px;
    color: #000000;
    font-family: Open Sans, var(--default-font-family);
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    z-index: 18;
  }
  .component {
    position: relative;
    width: 646.119px;
    height: 47px;
    margin: 29px 0 0 541px;
    z-index: 3;
  }
  .group-button {
    position: absolute;
    width: 11.32%;
    height: 100%;
    top: 0;
    left: 88.68%;
    cursor: pointer;
    font-size: 0px;
    background: transparent;
    border: none;
    z-index: 5;
  }
  .span-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 13px 0 0 30px;
    font-family: Open Sans, var(--default-font-family);
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    z-index: 7;
  }
  .rectangle-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 6;
  }
  .choose-quantity-span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 84.81%;
    height: 46.81%;
    top: 27.66%;
    left: 0;
    color: #000000;
    font-family: Open Sans, var(--default-font-family);
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    z-index: 4;
  }
  .newest-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: relative;
    width: 695px;
    height: 54px;
    margin: 31px 0 0 517px;
    padding: 0 16px 0 16px;
    cursor: pointer;
    background: #be2623;
    border: none;
    z-index: 8;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 6px 6px 4px 0 #000000;
  }
  .buy-now {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 134px;
    height: 22px;
    color: #ffffff;
    font-family: Open Sans, var(--default-font-family);
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    z-index: 9;
  }
  .chevron-right {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 16px;
    z-index: 10;
  }
  .chevron-right-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    overflow: hidden;
  }
  .vector {
    position: relative;
    width: 5.195px;
    height: 9.333px;
    margin: 3.333px 0 0 5.333px;
    background: url(../../component/img/chevron-right.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 12;
  }
  .newest-button-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: relative;
    width: 695px;
    height: 54px;
    margin: 31px 0 0 517px;
    padding: 0 16px 0 16px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #000000;
    z-index: 13;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 6px 6px 4px 0 #000000;
  }
  .add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 476px;
    height: 22px;
    color: #000000;
    font-family: Open Sans, var(--default-font-family);
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    z-index: 14;
  }
  .chevron-right-3 {
    flex-shrink: 0;
    position: relative;
    width: 16px;
    height: 16px;
    z-index: 15;
  }
  .chevron-right-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 16;
    overflow: hidden;
  }
  .vector-5 {
    position: relative;
    width: 5.195px;
    height: 9.333px;
    margin: 3.333px 0 0 5.333px;
    background: url(../../component/img/chevron-right.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 17;
  }
  .rectangle-6 {
    position: absolute;
    width: 1728px;
    height: 855px;
    top: 0;
    left: 0;
    background: #f4f2ec;
  }
  .main {
    position: relative;
    width: 1728px;
    height: 953px;
  }
  .themvaogio-main{
        position: relative;
        width: 1728px;
        height: 1321px;
        background: #ffffff;
        overflow: hidden;
        position: relative;
  }