<div class="themnhac2-main">
<app-header></app-header>
<div class="main">
    <app-header-mixtape></app-header-mixtape>
<div class="frame-9966">
    <div class="rectangle-28"></div>
    <div class="frame-72">
      <button class="active-left" [routerLink]="['/themnhac1']">
        <div class="segmented-bg"></div>
        <div class="label">Chọn playlist</div>
      </button>
      <button class="inactive-inner" [routerLink]="['/themnhac2']">
        <div class="segmented-bg2"></div>
        <div class="label2">Tải âm thanh của bạn</div>
      </button>
    </div>
    <div class="line-3"></div>
    <div class="button-newest" [routerLink]="['/themvaogio']">
      <div class="label3">Thêm vào giỏ</div>
      <div class="chevron-right">
        <div class="chevron-right2"></div>
      </div>
    </div>
    <div class="nh-c-b-n-ch-n-playlist">Nhạc bạn đã chọn: Playlist #$</div>
  </div>
</div>
</div>