
<div class="trang-ch-ch-a-ng-nh-p">
  <app-header></app-header>
  <div class="main">
    <div class="main-2">
      <div class="rectangle-35"></div>
      <div class="t-vi-t-l-n-b-c-th-b-ng-m-nh-c">
        TỰ VIẾT LÊN BỨC THƯ BẰNG ÂM NHẠC
      </div>
      <div class="th-a-s-c-ch-n-outfit-cho-b-ng">
        THỎA SỨC CHỌN OUTFIT CHO BĂNG
      </div>
      <div class="frame-9948">
        <div class="rectangle-16"></div>
        <button class="component-5" (click)="openHuongDan()">
          <div class="rectangle-15"></div>
          <div class="h-ng-d-n">HƯỚNG DẪN</div>
        </button>
        <button class="component-52" [routerLink]="['/chonbiangoai']">
          <div class="rectangle-15"></div>
          <div class="h-ng-d-n">TẠO MIXTAPE</div>
        </button>
        <div class="thu-b-ng-cassette-v-i-ngu-n-l-c-c-b-i-h-t-b-n-t-ch-n">
          Thu băng cassette với nguồn là các bài hát bạn tự chọn
        </div>
        <div class="ch-n-nh-c-thu-b-ng">CHỌN NHẠC THU BĂNG</div>
      </div>
      <div class="rectangle-33"></div>
    </div>
    <div class="main-1">
      <div class="frame-9951">
        <div class="rectangle-34"></div>
        <div class="rectangle-7"></div>
      </div>
      <div class="ph-ng-mixtape">PHÒNG MIXTAPE</div>
      <div class="b-n-s-vi-t-g-l-n-m-t-b-c-th-b-ng-m-thanh">
        Bạn sẽ viết gì lên một bức thư bằng âm thanh
      </div>
      <div class="frame-9953">
        <div class="rectangle-8"></div>
        <div class="frame-9952">
          <div class="vector">
            <button class="component-4" [routerLink]="['/chonbiangoai']">
              <div class="rectangle-152"></div>
              <div class="t-o-mixtape-ngay">TẠO MIXTAPE NGAY</div>
            </button>
          </div>
        </div>
        <div class="vector-1">
        <div class="m-t-b-ng">
          Một băng
        </div>
        <div class="mixtape-l-g">MIXTAPE LÀ GÌ?</div>
      </div>
    </div>
  </div>
</div>
