
    <div class="main-container">
      <span class="thank-you">CẢM ƠN BẠN ĐÃ ĐẶT HÀNG</span
      ><span class="order-processing"
        >Đơn hàng của bạn sẽ được xử lí và gửi đến bạn sớm nhất có thể</span>
        <button class="newest-button" [routerLink]="['/trangchu']" (click)="closeCamOn()">
        <span class="continue-shopping">TIẾP TỤC MUA HÀNG</span>
        <div class="chevron-right">
          <div class="chevron-right-1"><div class="vector"></div></div>
        </div></button
      ><span class="text"> </span>
    </div>

